/* roboto font family is used */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


body{
    margin-left: 20px;
    background-color: #CAD5E2;
    font-family: 'Roboto', sans-serif;
}
.heading{
    font-size: 24px;
}
.container{
    margin-left: 100px;
    margin-bottom: 180px;
    
}
.top-level{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.top-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.blog-title{
    font-size: 40px;
}
.top-right img{
    width: 70%;
}
.top-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}
.button-top{
    font-size: 1.2em;
    background-color: #E02C6D;
    border-radius: 30px;
    padding: 10px 5px;
}
.button-top a{
    text-decoration: none;
    color: white;
}
.icon.fa-long-arrow-alt-right{
    padding-top: 25px;
}

/* popular collection style */
.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
    margin-top: 70px;

}

.gallery-title{
    text-align: center;
    font-size: 35px;
}

.card img{
    width: 330px;
    height: 256px;
    border-radius: 10px;
}
.card-info{
    background-color: white;
    width: 330px;
    height:450px;
    padding: 15px;
    margin:0px;
    border-radius: 20px;
    box-shadow: 5px 7px 10px whitesmoke;
}
.card-name{
    font-size:30px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.price{
    font-size: 30px;
    margin: 0px;
}
.star{
    margin-top: 5px;
    margin-bottom: 5px;
}
.description p{
    margin: 0px;
}
.fa-star{
    color: gold;
    font-size: 12px;
}
.fa-star.empty{
    color: #CAD5E2;
}
.rating{
    font-size: 18px;
    margin-left: 10px;
}
.more{
    padding: 10px;
    text-align: right;
    margin-right: 38px;
}
.more a{
    text-decoration: none;
    color:#E02C6D;
    font-size: 16px;
    font-weight: 700;
}